<app-menutime></app-menutime>
<app-category></app-category>
<div class="container bg-red-50 p-10 mt-4 rounded-2xl">
  <app-carrosel-component></app-carrosel-component>
</div>
<div class="container mt-10 ">
  <app-imagen-component></app-imagen-component>
</div>
<div class="container mt-10">
  <app-marcas-component></app-marcas-component>
</div>

<div class="container mt-10">
<app-pedidos-component></app-pedidos-component>
</div>


<div class="bg-red-500 mt-10 mb-3">
<app-informacion-component></app-informacion-component>
</div>

<footer class="bg-gray-700 text-white w-full">
  <div class="container">
    <app-footer-component></app-footer-component>
  </div>
</footer>

