
  <div>
    <a href="" class="hover:bg-gray-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 opacity-50">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
    </a>
  </div>

  <div *ngFor="let men of this.menu">
    <ng-container *ngIf="men.color==''">
      <a href="#" routerLink="/{{men.nombrepagina}}"  class=" hover:bg-gray-400 sm:hover:bg-gray-700 sm:hover:text-white p-2 text-lg">

       <span routerLinkActive="border-b-4 border-black">{{men.nombre}}</span>
      </a>
    </ng-container>
    <ng-container *ngIf="men.color!=''">
      <a href="#"  routerLink="/{{men.nombrepagina}}"  [ngStyle]="{'background-color':men.color,'color':men.colorletra}" class=" sm:hover:bg-gray-700 p-2 text-lg rounded-sm">
        <span class="font-bold" >{{men.nombre}}</span>
      </a>
    </ng-container>

  </div>


