<div class="container">
  <ul class="flex gap-3 text-[0.8rem]">
    <li class="w-12">
      <div class="w-full flex justify-between cursor-pointer">
        <a href="" class="text-red-500  hover:border-b-2 hover:border-red-500">Inicio </a>
        <span>></span>
      </div>
    </li>
    <li>New</li>
  </ul>
</div>

<div class="container">
<div class="mt-4 mb-4">
  <span class="text-2xl">Nuevos productos americanos y asiaticos</span>
</div>

<div class="w-full block md:flex gap-10">

  <!-- ordena por -->
<div class="md:w-[20.8333333%] lg:[22rem] hidden md:block">
<div class="bg-slate-700 text-white p-2 font-bold text-lg">Filtrar por</div>
<div class="p-2 w-full border-b-2">
  <div class="flex justify-between w-full py-2 cursor-pointer " (click)="this.setForm()">
  <span>Marca</span>
  <span>
    <ng-container *ngIf="this.isForm==true">
      <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1.707 2.707 5.586 5.586a1 1 0 0 0 1.414 0l5.586-5.586A1 1 0 0 0 13.586 1H2.414a1 1 0 0 0-.707 1.707Z"/>
  </svg>
    </ng-container>
    <ng-container *ngIf="this.isForm==false">
      <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 16">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2.707 14.293 5.586-5.586a1 1 0 0 0 0-1.414L2.707 1.707A1 1 0 0 0 1 2.414v11.172a1 1 0 0 0 1.707.707Z"/>
      </svg>
    </ng-container>
</span>
  </div>
  <ng-container *ngIf="this.isForm==true">
    <div class="transition-all duration-500">
      <div class="p-3 cursor-pointer hover:text-red-300"><span>Jones</span> (1)</div>
      <div class="p-3 cursor-pointer hover:text-red-300"><span>American Food</span> (1)</div>
      <div class="p-3 cursor-pointer hover:text-red-300"><span>Takis</span> (2)</div>
      <div class="p-3 cursor-pointer hover:text-red-300"><span>Candy Can</span> (1)</div>
    </div>
  </ng-container>
</div>
<div class="p-2 w-full border-b-2">
  <div class="flex justify-between w-full py-2 cursor-pointer " (click)="this.setPrecio()">
    <span>Precio</span>
    <span>
      <ng-container *ngIf="this.isprecio==true">
        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1.707 2.707 5.586 5.586a1 1 0 0 0 1.414 0l5.586-5.586A1 1 0 0 0 13.586 1H2.414a1 1 0 0 0-.707 1.707Z"/>
    </svg>
      </ng-container>
      <ng-container *ngIf="this.isprecio==false">
        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2.707 14.293 5.586-5.586a1 1 0 0 0 0-1.414L2.707 1.707A1 1 0 0 0 1 2.414v11.172a1 1 0 0 0 1.707.707Z"/>
        </svg>
      </ng-container>
  </span>
    </div>
    <ng-container *ngIf="this.isprecio==true">
      <div class="transition-all duration-500">
        <div class="transition-all duration-500">
          <div class="p-3 cursor-pointer hover:text-red-300"><span>0.00 $ - 0.99 $</span> (34)</div>
          <div class="p-3 cursor-pointer hover:text-red-300"><span>3.00 $ - 3.99 $</span> (1)</div>
          <div class="p-3 cursor-pointer hover:text-red-300"><span>5.00 $ y superior</span> (3)</div>
        </div>
      </div>
    </ng-container>
</div>

<div class="w-full p-2 bg-slate-700 text-white">
  <span>Ordenar por</span>
</div>

<!-- ordenar por -->
<ul class="w-full">
  <li class="py-2 px-1 border-b-2">
    <input  type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer">
    <label for="hosting-small" class="inline-flex items-center justify-between  p-2  bg-white  rounded-lg cursor-pointer dark:hover:text-gray-300 peer-checked:text-red-400 hover:text-red-400">
        <div class="flex">
          <div class="w-full text-base "> En Stock</div>
        </div>
    </label>
  </li>
  <li class="py-2 px-1 border-b-2">
    <input  type="radio" id="hosting1" name="hosting" value="hosting1" class="hidden peer">
    <label for="hosting1" class="inline-flex items-center justify-between  p-2 bg-white  rounded-lg cursor-pointer dark:hover:text-gray-300 peer-checked:text-red-400 hover:text-red-400">
        <div class="flex">
          <div class="w-full text-base"> Nombre del producto</div>
        </div>
    </label>
  </li>
  <li class="py-2 px-1 border-b-2">
    <input type="radio" id="hosting2" name="hosting" value="hosting2" class="hidden peer">
    <label for="hosting2" class="inline-flex items-center justify-between  p-2  bg-white  rounded-lg cursor-pointer dark:hover:text-gray-300 peer-checked:text-red-400 hover:text-red-400">
        <div class="flex">
          <div class="w-full text-base ">Precio</div>
        </div>
    </label>
  </li>
  <li class="py-2 px-1 border-b-2">
    <input type="radio" id="hosting3" name="hosting" value="hosting3" class="hidden peer">
    <label for="hosting3" class="inline-flex items-center justify-between  p-2  bg-white  rounded-lg cursor-pointer dark:hover:text-gray-300 peer-checked:text-red-400 hover:text-red-400">
        <div class="flex">
          <div class="w-full text-base ">Mejores fechas</div>
        </div>
    </label>
  </li>


</ul>


  </div>
  <!-- producto -->
<div class="w-[100%] md:w-[79.166667%] lg:w-[calc(100%-25rem)] mb-5 ">
  <app-card-product [prod]="prod"></app-card-product>
</div>

</div>





</div>
