<div class=" bg-red-400 text-white rounded-sm ">
  <div class="flex justify-center">
    <span class="font-bold">¡Hey, es la hora del aperitivo!</span>
  </div>
  <div class="px-10 lg:px-16 flex flex-wrap gap-4 sm:gap-5 mt-4 justify-center">
   <a href="#" class="hover:text-gray-700">
    <div class=" flex justify-center">
      <img src="../../../../assets/img/cheetos.png" alt="" class="w-14 rounded-[95px]">
    </div>
    <span class=" text-center">#cheetos</span>
  </a>
   <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center">
      <img src="../../../../assets/img/refresco.png" alt="" class="w-16 rounded-[95px] ">
    </div>
    <span clas>#refrescos americanos</span>
  </a>
  <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center">
      <img src="../../../../assets/img/patatas.png" alt="" class="w-[4.2rem] rounded-[95px] ">
    </div>
    #patatas de aperitivo</a>
    <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center mt-1">
      <img src="../../../../assets/img/takis.png" alt="" class="w-[3.2rem] rounded-[95px] ">
    </div>
    #comida takis
  </a>
  <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center mt-1">
      <img src="../../../../assets/img/popcorn.png" alt="" class="w-[2.5rem] rounded-[95px] ">
    </div>
     <span>#popcorn</span>
  </a>
    <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center mt-1">
      <img src="../../../../assets/img/caramelos.png" alt="" class="w-[2.5rem] rounded-[95px] ">
    </div>
    #caramelos asiticos</a>
    <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center mt-1">
      <img src="../../../../assets/img/dips.png" alt="" class="w-[2.9rem] rounded-[95px] ">
    </div>
    #dips
  </a>
    <!-- <span class=" hidden sm:contents text-[50px]">|</span> -->
   <a href="" class="hover:text-gray-700 text-center">
    <div class=" flex justify-center mt-1">
      <img src="../../../../assets/img/pringless.png" alt="" class="w-[2.96rem] rounded-[90px] ">
    </div>
    #pringless
  </a>

  </div>
</div>
