<!-- letras -->
<div class="bg-white flex justify-between px-5 md:px-11 sticky top-0 z-50">
  <div></div>
  <div class="">
    <span class="font-bold">N°1 TIENDA AMERICANA & POP FOOD DEL MUNDO</span>
  </div>
  <div></div>

</div>

<!-- search -->
<div class="bg-white flex justify-center px-5 md:px-11 py-2 sticky top-6 z-50">
<div class="sm:flex sm:justify-between justify-center items-center w-full container">

  <div class="flex justify-between items-center">
  <img src="../../../../assets/img/logo.png" alt=""
  class="w-16 sm:flex ">
  <div class="sm:hidden">
    <app-icons-login></app-icons-login>
    </div>
</div>

<div class=" mb-4 mt-4 ml-0 sm:ml-14 sm:mb-o sm:mt-5 w-full sm:w-80">
  <div class="">
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">
      Search
    </label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
      </div>
      <input type="search" name="" id="search" class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-200 rounded-lg bg-gray-50 " placeholder="Search" required>

    </div>

  </div>

</div>
<div class="hidden sm:flex flex-wrap justify-center px-5 sm:px-11 py-5">
<app-icons-login></app-icons-login>
</div>
</div>

</div>
